.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 33px;
    p{
        font-weight: 700;
        font-size: 18px;
        color: #212121;
    }
}